.loader,
.loader__svg {
  width: 120px;
  height: 120px;
  min-width: 120px;
  min-height: 120px;
}

.loader__svg {
  transform: rotate(-90deg);
  transition: all 0.2s ease-out;
}

.loader__circle,
.loader__progress {
  fill: none;
  stroke-width: 10px;
}

.loader__circle {
  stroke: var(--color-gray);
}

.loader__progress {
  stroke: var(--color-primary);
  animation: rotate 1.5s linear infinite;
  animation-play-state: paused;
  transform-origin: center;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

.settings {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
