:root {
  --font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --line-height: 1.5;
  --color-black: #000000;
  --color-white: #ffffff;
  --color-gray: #eef3f6;
  --color-inactive: #dfe6f0;
  --color-primary: #005dff;
  --color-body: var(--color-gray);
}

*,
:after,
:before {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
  -moz-osx-font-smoothing: grayscale;
  -moz-text-size-adjust: none;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;

  font-family: var(--font-family);
  line-height: var(--line-height);
  color: var(--color-black);
  background-color: var(--color-body);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input {
  appearance: none;
  outline: none;
  border: none;
  margin: 0;
}

.progress-block {
  display: flex;
  flex-direction: column;
  width: 568px;
  height: 320px;
  background-color: var(--color-white);
  padding: 20px;
}

.progress-block__title {
  margin: 0;
  font-weight: 500;
}

.progress-block__content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
  width: 100%;
  height: 100%;
}

@media (max-width: 569px) {
  .progress-block {
    width: 320px;
    height: 568px;
  }

  .progress-block__content {
    grid-template-columns: 1fr;
  }
}
